.App {
  font-family: 'Roboto', sans-serif;
}

.navbar-wrapper {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 2px 0px;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 1000;
}

.home-navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  max-width: 1150px
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin: 0;
  padding: 10px 32px;
}

.view-body {
  padding-top: 68px;
}

.main-wrapper {
  padding: 16px;
  max-width: 1024px;
  margin: 0 auto
}

.xl-wrapper {
  padding: 16px;
  max-width: 1200px;
  margin: 0 auto
}

.Home-App-header {
  background-color: #161616;
  background-image: url("https://wealthie.oss-us-east-1.aliyuncs.com/header-pic.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  padding: 16px;
  color: white;
}

.header-promot {
  font-size: 32px;
  text-shadow: 1px 2px 3px #666;
  text-transform: capitalize;
}

.flex-no-shrink {
  flex-shrink: 0
}

.flex-25 {
  flex: 25
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-center {
  align-items: center;
}

.flex-baseline {
  align-items: baseline;
}

.flex-end {
  align-items: flex-end;
  justify-content: flex-end;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.nav-brand-text {
  line-height: 48px;
}

.nav-brand-text-white {
  font-size: 32px;
  font-family: "Roboto";
  text-shadow: 1px 2px 3px #333;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

@media screen and (min-width: 681px) {
  .nav-brand-text {
    font-size: 26px;
    font-family: "Roboto";
    font-weight: 600;
    background: -webkit-linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
  }

  .flex-33, .flex-33-d {
    flex: 33;
  }

  .flex-home-card-d {
    flex: 33;
  }
}

@media screen and (max-width: 680px) {
  .nav-brand-text {
    font-size: 26px;
    font-family: "Roboto";
    font-weight: 600;
    color: rgb(48, 73, 102);
    cursor: pointer;
    width: 50%
  }

  .flex-33-d, .flex-home-card-d {
    width: 100%
  }

  .home-feature-card {
    margin-bottom: 32px
  }

  .home-feature-card:last-child {
    margin-bottom: 0
  }
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.flex-auto-with {
  flex: 1 1 auto;
}

.align-right {
  align-items: flex-end;
}

.justify-right {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-float-right {
  margin-left: auto !important;
}

.default-paragraph {
  font-size: 16px;
  line-height: 1.5;
  white-space: pre-wrap;
  font-family: 'Noto Sans', sans-serif;
}

.default-paragraph-s {
  font-size: 14px;
  line-height: 1.5;
  white-space: pre-wrap;
  font-family: 'Noto Sans', sans-serif;
}

.Noto {
  font-family: 'Noto Sans', sans-serif;
}

.default-padding {
  padding: 16px
}

.default-margin {
  margin: 8px
}

.default-margin-right {
  margin-right: 8px
}

.Roboto {
  font-family: "Roboto" !important
}

.home-headline {
  font-size: 32px;
  margin-left: 16px;
  position: relative;
}

.overline::before {
  background-color: rgb(68, 138, 255);
  bottom: -16px;
  content: '';
  height: 4px;
  left: 0;
  position: absolute;
  width: 80px;
}

.fade-enter, .fade-leave {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.fade-enter.fade-enter-active {
  opacity: 1;
}

.g-background {
  background-color: #f6f6f6
}

.vertical-form-wrapper {
  max-width: 600px;
  margin: 0 auto;
}

.field-wrapper {
  margin: 8px 0;
}

.field-wrapper:last-child {
  margin: 8px 0 0 0;
}

.field-title {
  font: 500 14px Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  color: rgba(0, 0, 0, 0.54);
  overflow: hidden;
  padding-bottom: 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.field-content {
  font: 400 16px/24px Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  color: rgba(0, 0, 0, 0.87);
  overflow: hidden;
  padding-bottom: 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (min-width: 681px) {
  .home-search-field {
    padding: 104px 0;
  }
}

@media screen and (max-width: 680px) {
  .home-search-field {
    padding: 64px 0 64px 0px;
  }
}

.light-card {
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
  border: 1px solid rgba(0, 0, 0, .09);
}

.light-shadow {
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
  border: 1px solid rgba(0, 0, 0, .09);
}

.feedback-form-list {
  background: #fff;
  min-height: 100%;
  /*padding: 16px;*/
  border-right: 1px solid #ddd;
}

.feedback-form-editor {
  background: #fff;
  min-height: 100%;
  padding: 16px;
  margin: 16px;
}

.feedback-form-preview {
  font-family: 'Roboto', sans-serif;
  background: #fff;
  min-height: 100%;
  padding: 32px;
  margin: 16px;
}

.feedback-preview-title {
  font-size: 30px;
  padding: 16px 16px 8px 16px
}

.feedback-preview-question-wrapper {
  margin: 16px 0;
  padding: 0 16px 0 16px
}

.feedback-preview-question {
  font-size: 20px;
  padding: 8px 8px 8px 0
}

.feedback-rates-preview {
  margin: 16px 0;
  padding: 8px;
  background-color: #fafafa
}

.feedback-rates-preview input {
  margin: 8px 0
}

.alter-color-rows .alter-color-row {
  font: 400 13px Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  line-height: 135%;
  white-space: pre-line;
  padding: 8px 16px;
}

.alter-color-rows .alter-color-row:nth-child(odd) {
  background-color: #B0BEC5;
}

.alter-color-rows .alter-color-row:nth-child(even) {
  background-color: #ECEFF1;
}

.left-panel-fix {
  color: rgba(0, 0, 0, 0.870588);
  background-color: rgb(255, 255, 255);
  transition: transform 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
  border-radius: 0px;
  height: 100%;
  width: 512px;
  position: fixed;
  z-index: 1200;
  left: 0px;
  top: 0px;
  transform: translate(0px, 0px);
  overflow: auto;
}

.right-panel {
  min-height: 400px;
  padding-left: 512px;
}

.component-pagination-wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: center;

}

.component-pagination {
  list-style: none;
  padding: 8px;
  text-align: center;
  background: #fff;
  border-radius: 3px;
  margin-top: 16px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
  border: 1px solid rgba(0, 0, 0, .09);
}

.component-pagination a {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  text-align: center;
  line-height: 24px;
  padding: 8px 16px;
  cursor: pointer;
}

.component-pagination li {
  display: inline;
}

.component-pagination li.active a {
  background: #304966;
  color: #fff;
  border-radius: 3px;
}

.component-pagination li a:hover {
  background: #eee;
  color: #000;
  border-radius: 3px;
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  .r-flex-row {
    display: flex;
    flex-direction: column;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  .r-flex-row {
    display: flex;
    flex-direction: column;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .r-flex-row {
    display: flex;
    flex-direction: column;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .r-flex-row {
    display: flex;
    flex-direction: row;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .r-flex-row {
    display: flex;
    flex-direction: row;
  }
}
