.manage-calendar-panel {
  padding: 16px 0 32px 16px;
  margin: 16px 8px;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
  border: 1px solid rgba(0,0,0,.09);
  border-radius: 3px
}

.manage-calendar-body {
  margin: 16px 8px 16px 8px;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
  border: 1px solid rgba(0,0,0,.09);
  border-radius: 3px
}

.weekday {
  position: relative;
  flex: 1 0 0px;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #ddd;
}

.time-slot {
  height: 36px;
  border-top: 1px solid #eee;
  width: 100%;
}

.time-label .time-slot:first-child, .hour-slot .time-slot:first-child{
  border-top: 1px solid #ccc;
}

.table-header {
  padding: 0 8px;
  line-height: 49px;
}

.weekday:first-child {
  border-left: none
}

.calender-event {
  padding: 8px;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  background: #32b337;
  color: #fff;
  cursor: pointer;
  z-index: 10
}

.calender-event:hover {
  background: #2b982f;
}

.calender-event-appointment {
  margin: 4px;
  width: calc(100% - 8px);
  background: #FFC107;
  z-index: 11
}

.calender-event-appointment:hover {
  background: #ffb300;
}
